.btn {
  border-radius: 6px;
  transition: linear .2s all;
  border: none;
  cursor: pointer;
  font-family: 'miliolight', Arial, Helvetica, sans-serif;
  font-size: 20px;

  &:disabled {
    opacity: .3;
  }

  &--filled {
    color: #fff;
    background-color: #7B53C1;

    &:hover {    
      background: #6b48a8;
    }
  }

  &--large {
    font-size: 25px;
    max-width: 140px;
    width: 100%;
  }
}