<h1 class="text-center">{{ searchTittle }} </h1>
<form (ngSubmit)="onSubmit()"
      class="line-form"
      #searchForm="ngForm"
      novalidate>
  <div class="autocomplete__wrapper">
    <input type="text"
           class="rtb-input"
           [options]="searchOptions"
           name="address"
           (setAddress)="onAdressChanged($event)"
           angularGooglePlace
           required
           ngModel
           #address="ngModel" />
    <button type="submit"
            class="btn btn--filled btn--large">Search</button>
    <div class="errors"
         *ngIf="searchForm.invalid && searchForm.dirty">
         <br>
      <span class="error"
            *ngIf="address.invalid && searchForm.submitted">Wrong address</span>
    </div>
  </div>
</form>