.line-form {
  .btn {
    flex-shrink: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
  }
  

  .autocomplete__wrapper {
    width: 100%;
    max-width: 600px;
    margin: auto;
    position: relative;
  }

  .rtb-input {
    width: 100%;
    padding-right: 165px;

    &.ng-invalid {
      color: red;
    }
  }
}

.errors {
  color: red;
  position: absolute;
}