@font-face {
  font-family: 'miliobold';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliobold-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliobold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'miliobold_italic';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliobolditalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliobolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'miliodemibold';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliodemibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliodemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'miliodemibold_italic';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliodemibolditalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliodemibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'milioheavy';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioheavy-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioheavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'milioheavy_italic';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioheavyitalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioheavyitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'miliolight';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliolight-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliolight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'miliolight_italic';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliolightitalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_miliolightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'milioregular';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioregular-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'milioregular_italic';
  src: url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioregularitalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/tipo_pepel/tipo_pepel_-_milioregularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}